<!DOCTYPE html>
<html>
  <head>
    <title>Mulaqat</title>
    <link rel="stylesheet" href="/home.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:display=swap"
      rel="stylesheet"
    />
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
        intent="WELCOME"
        chat-title="Mulaqat"
        agent-id="dc8cc263-7cb6-4faf-b7f7-93c79a1caee9"
        language-code="en"
    ></df-messenger>
  </head>
  <body>
    <div class="header">
      <h2 class="title">Mulaqat</h2>
      <div class="login-buttons">
         <button id="btn">Login to get started</button> 
      </div>
    </div>
    <div class="main">
      <div class="main-left">
        <div class="main-left-content">
          <p>A place for you to connect</p>
          <h3>Connecting you to the world of different voices.</h3>
        </div>
      </div>
      <div class="main-right">
        <img src="/assets/home-pattern@2x.png" class="pattern" />
        <img src="/assets/landing-photo@2x.png" class="right-img" />
      </div>
    </div>
    <div class="why">
      <h2>Why Mulaqat?</h2>
      <p>
        Mulaqat provides robust video-calling & messaging platform for users
        to connect and be productive.
      </p>
    </div>
    <div class="features">
      <h2>Features of Mulaqat!</h2>
      <div class="feature">
        <img src="/assets/loginpic.jpeg" alt="" />
        <div>
          <h3>Authentication</h3>
          <p>
            Secure login feature where uers can login using their google, 
            facebook and github ids. Account details are not stored by our servers.
          </p>
        </div>
      </div>
      <div class="feature">
        <img src="/assets/dashboardpicedited.jpg" alt="" />
        <div>
          <h3>Create groups and Share with Friends</h3>
          <p>
            Users can create meetings with a single click and also
            have the option to join groups hosted by their friends, by simply
            entering the meeting link.
          </p>
        </div>
      </div>
      <div class="feature">
        <img src="/assets/meetpic.jpeg" alt="" />
        <div>
          <h3>Great Video Call & Chat User Experience</h3>
          <p>
            The simple and yet intuitive UI/UX of our Video Call & Chat App makes it very
            friendly and usable for our users. Ability to instantly access all mesages 
            and screens makes it a great Video Call App.
          </p>
        </div>
      </div>
    </div>
  </body>
<script src="/home.js"></script>
</html>
